version: "3.7"
   
services:
  postgres:
    container_name: ${COMPOSE_PROJECT_NAME}_postgres
    hostname: postgres
    image: postgres
    ports:
      - '5432:5432'
    networks:
      - monolith
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    env_file:
      - ./.env
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres

  mysql:
    container_name: ${COMPOSE_PROJECT_NAME}_mysql
    image: mysql:5.7
    ports:
      - '3306:3306'
    networks:
      - monolith
    volumes:
      - ./data/mysql:/var/lib/mysql
    env_file:
      - ./.env
    environment:
      MYSQL_DATABASE: 'disco'
      MYSQL_USER: 'mysql'
      MYSQL_PASSWORD: 'mysql'
      MYSQL_ROOT_PASSWORD: 'mysql'

  django:
    container_name: ${COMPOSE_PROJECT_NAME}_django
    build:
      context: .
      dockerfile: Dockerfile
    command: python manage.py runserver 0.0.0.0:8000
    networks:
      - monolith
    volumes:
      - .:/code
    env_file:
      - ./.env
    ports:
      - "8000:8000"
    depends_on:
      - postgres
      - mysql

#volumes:
#  postgres:
#
networks:
  monolith:
